<div class="container theme-showcase" role="main">
  <div class="jumbotron">
        <h1>Marston.Club</h1>
        <p>
          Marston.Club Lets you coordinate booking study rooms for blocks of time with ease. You can even set them to repeat.
        </p>
      </div>
</div>
