<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Common Scripts for the Entire Program -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!--link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="/public/stylesheets/style.css" />

  </head>
  <body>
    {{> header }}
    {{{body}}}
    <!-- Placed at the end so page loads faster. -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {{#each scripts}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
