<div class="container" align="center">
  {{#if invalidLogin}}
  <div class="alert alert-danger" role="alert">
    Invalid Username or Password.
  </div>
  {{/if}}
  <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  Don't Have an Account? <a href="/auth/register">Register!</a>

</div> <!-- /container -->
